body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    max-width: 90rem;
    padding: 0rem;
    background: rgb(70,70,70);

}
.main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-content: flex-start;
    padding: 5px;
}
button {
  background: transparent;
  padding: 4px;
  margin-top: 10px;
  font-size: 14px;  
  border-radius: 5px;
  color: rgb(180,180,180);
  border: 1px solid rgb(180,180,180);
  transition: all 0.25s ease 0s;
}
button:hover {
  letter-spacing: 1px;
  border-radius: 2px;
  background: rgb(120,120,120)
}


.main > input{
    padding: 10px;
    margin-bottom: 10px;
}
.main > button{
    padding: 10px;
}
  input[type=text] {
    background: transparent;
    border: none;
    text-align: center;
    color: white;
    border-bottom: 2px solid rgb(180,180,180);
  }
input[type=text]:focus{
  outline:none !important;
}