body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 90rem;
  padding: 2rem;
}

.cryptos{
  height: 50%;
  word-wrap: break-word; 
}
#slider-div {display:inline-block;margin-right:7px;} 
#slider-value {display:inline-block;position:relative;bottom:3px;} 